
body {
    margin: 0;
}

.header {
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.7);
}

.h2-reg {
    color: white;
    text-align: center;
    padding-top: 30px;
    margin: 0px
}

.form {

}

.form-divs {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}

.form-section {
    width: 80%;
    margin-left: 120px;
    margin-top: 60px;
}

.input-reg {
    width: 200px;
    margin-bottom: 10px;
}

.div-item {
    text-align: center;
    padding-top: 20px;
    width: 250px;
    min-height: 315px;
    border-radius: 4px;
    background: #d3d7db;
    margin-bottom: 15px;
}

.div-add {
    text-align: center;
    margin-top:50px;
    margin-bottom: 200px;
}

.btn-add {
    width: 105px;
    height: 30px;
    background: rgba(0,0,0,0.7);
    color: white;
}

.btn-back {
    color: white;
    text-decoration: none;
}

.btn-add-doclist {
    float: right;
    margin-right: 3px;
    width: 15px;
    text-align: center;
    /*Скругленные углы*/
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
    background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

}

.btn-add-doclist:hover {
    -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8);
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.message {
    display: none;
    text-align: center;
    font-size: 20px;
    color: black;
    width: 100%;
    height: 45px;
    background: red;

}
