

body {
    background: papayawhip;
    max-width: 100%;
}

.btn-back {
     color: black;
     text-decoration: none;
 }

.btn-back:hover {
    color: blueviolet;
}

.search-div1 {
   text-align: center;
    padding-bottom: 30px;
}

.table-header {
    font-size: 14px;
}

.table-div {
    font-size: 14px;
    text-align: center;
}

.table, .td, .th {
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
}

.btn-input  {
    height: 20px;
    border-radius: 5px;
    width: 150px;
}

.btn-find {
    height: 25px;
    width: 60px;
    border-radius: 5px;
}


