<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style media="all">
        body {
            background: mistyrose;
            margin: 30px 0px 100px 100px;
            font-size: 20px;
        }

        a {
            text-decoration: none;
            color: white;
        }

        a:hover {
            color: #151CFF;
        }

        .table, .td1, .td {
            border: 1px solid black;
        }

        .table {
            width: 80%;
            border-collapse: collapse;

        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        td {
            text-align: center;
        }

        th {
            border: 1px solid black;
        }

        .btn-del {
            border: 1px solid #800000;
            background: #A80000;
        }

        .td2 {
            width: 30px;
        }

        .ted {
            margin-top: 20px;
        }

        input {
            width: 200px;
            height: 30px;
            background: #b2b6ba;
            border: 1px solid black;
            margin-bottom: 10px;
        }

        .btn-add, .btn-find {
            width: 100px;
            height: 30px;
            background: #b2b6ba;
            border: 1px solid black;
        }

        .myak {
            margin-top: 20px;
        }

        .myak:hover {
            color: #6d6d6d;
        }

        .find {
            margin-bottom: 10px;
        }

        .find:hover {
            color: #6d6d6d;
        }

        .main-page {
            font-size: 15px;

            margin-bottom: 10px;
        }

        .main-page-a {
            color: black;
        }
    </style>
</head>
<body>
<div class="main-page"><a class="main-page-a" href="/main2">Главная</a></div>
<div class="find">Добавление данных &raquo;</div>
<div>
    <form class="find-move" method="post">
        <div><input type="hidden" name="_csrf" value="{{_csrf.token}}"/></div>
        <div><input type="text" name="ID" placeholder="Введите ID"/></div>
        <div><input type="text" name="PID" placeholder="Введите PID"/></div>
        <div><input type="text" name="SURNAME" placeholder="Введите ФАМИЛИЮ"/></div>
        <div><input type="text" name="NAME" placeholder="Введите ИМЯ"/></div>
        <div><input type="text" name="PATRONYMIC" placeholder="Введите ОТЧЕСТВО"/></div>
        <div><input type="date" name="BIRTHDAY" placeholder="Введите ДАТУ РОЖДЕНИЯ"/></div>
        <div><input type="text" name="CAUSE_DEATH" placeholder="Введите ПРИЧИНУ СМЕРТИ"/></div>
        <div><input type="date" name="DATE_DEATH" placeholder="Введите ДАТУ СМЕРТИ"/></div>
        <div><input type="date" name="DATE_ENTER" placeholder="Введите ДАТУ ВВОДА"/></div>
        <div><input type="text" name="USER_ID" placeholder="Введите USER_ID"/></div>
        <div><input type="text" name="IDENTIFIER" placeholder="Введите ИДЕНТИФИКАТОР"/></div>
        <div>
            <button class="btn-add" type="submit">Добавить</button>
        </div>
    </form>
</div>
<div class="myak"> Поиск по Surname &raquo;</div>
<div class="ted">
    <form class="move" method="post" action="filterAgat2Person">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="filterAgat2PersonFilter">
        <button class="btn-find" type="submit">Найти</button>
    </form>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Pid</th>
        <th>Surname</th>
        <th>Name</th>
        <th>Patronymic</th>
        <th>Birthday</th>
        <th>Cause death</th>
        <th>Date death</th>
        <th>Date enter</th>
        <th>User Id</th>
        <th>Identifier</th>
        <th>Delete</th>
    </tr>
    {{#agat2PersonTable}}
        <tr>
            <td class="td1">{{id}}</td>
            <td class="td1">{{pid}}</td>
            <td class="td">{{surname}}</td>
            <td class="td">{{name}}</td>
            <td class="td">{{patronymic}}</td>
            <td class="td">{{#birthday}}{{birthday}}{{/birthday}}</td>
            <td class="td">{{#cause_death}}{{cause_death}}{{/cause_death}}</td>
            <td class="td">{{#date_death}}{{date_death}}{{/date_death}}</td>
            <td class="td">{{date_enter}}</td>
            <td class="td">{{user_id}}</td>
            <td class="td">{{identifier}}</td>
            <td class="td td2">
                <button class="btn-del"><a href="delete_agat2Person/{{id}}">Delete</a></button>
            </td>
        </tr>
    {{/agat2PersonTable}}

</table>
<script type="text/javascript">
    $(document).ready(function () {
        $(".move").hide();
        $(".myak").click(function () {
            $(".move").slideToggle();
        });

        $(".find-move").hide();
        $(".find").click(function () {
            $(".find-move").slideToggle();
        });
    });
</script>
</body>
</html>