<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/search.css">
</head>
<body>


<a class="btn-back" href="/main3">Назад</a>

<div class="search-div1">
    <H3 class="search-header">Поиск</H3>
    <form class="search-form" method="post" th:action="@{/filterAgat2Search}">
        <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
        <input class="btn-input" type="text" name="filterAgat2SearchFilter" th:value="${filterAgat2SearchFilter}"/>
        <button class="btn-find" type="submit">Найти</button>
    </form>
</div>
<table class="table">
    <tr class="table-header">
        <th class="th">PID</th>
        <th class="th">ФАМИЛИЯ</th>
        <th class="th">ИМЯ</th>
        <th class="th">ОТЧЕСТВО</th>
        <th class="th">ДАТА РОЖДЕНИЯ</th>
        <th class="th">ИДЕНТИФИКАТОР</th>
        <th class="th">НОМЕР ДОКУМЕНТА</th>
        <th class="th">ТИП ДОКУМЕНТА</th>
        <th class="th">ДАТА ВЫДАЧИ</th>
        <th class="th">ТИП АДРЕСА</th>
        <th class="th">НАСЕЛЕННЫЙ ПУНКТ</th>
        <th class="th">УЛИЦА</th>
        <th class="th">ДОМ</th>
        <th class="th">КОРПУС</th>
        <th class="th">КВАРТИРА</th>
        <th class="th">РЕД-ВАНИЕ</th>
    </tr>

    <div  th:each="agat2Search : ${agat2SearchTable}">

            <tr class="table-div" >
                <td class="td" th:utext="${agat2Search.pid}"/>
                <td class="td" th:utext="${agat2Search.agat2Person?.surname}"/>
                <td class="td" th:utext="${agat2Search.agat2Person?.name}"/>
                <td class="td" th:utext="${agat2Search.agat2Person?.patronymic}"/>
                <td class="td" th:utext="${agat2Search.agat2Person?.birthday}"/>
                <td class="td" th:utext="${agat2Search.agat2Person?.identifier}"/>
                <td class="td" ><div th:each="agat2Document : ${agat2Search.agat2Document}" th:utext="${agat2Document?.doc_number}"/></td>
                <td class="td" ><div th:each="agat2Document : ${agat2Search.agat2Document}" th:utext="${agat2Document?.doc_type}"/></td>
                <td class="td" ><div th:each="agat2Document : ${agat2Search.agat2Document}" th:utext="${agat2Document?.date_receiving}" /></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.agat2TypeAddress?.typeAddress}"/></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.locality}"/></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.street}"/></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.house}"/></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.body}"/></td>
                <td class="td"><div th:each="agat2Address : ${agat2Search.agat2Address}"  th:utext="${agat2Address?.apartment}"/></td>
                <td class="td">
                    <!--<button class="btn-del">-->
                    <a th:href="@{|agat2Edit/${agat2Search.pid}|}">Delete</a>
                    <!--</button>-->
                </td>
                <!---->
                <!--<td th:each="agat2Address : ${agat2Search.agat2Address}" class="td" th:utext="${agat2Address?.locality}"/>-->
                <!--<td th:each="agat2Address : ${agat2Search.agat2Address}" class="td" th:utext="${agat2Address?.street}"/>-->
                <!--<td th:each="agat2Address : ${agat2Search.agat2Address}" class="td" th:utext="${agat2Address?.house}"/>-->
                <!--<td th:each="agat2Address : ${agat2Search.agat2Address}" class="td" th:utext="${agat2Address?.body}"/>-->
                <!--<td th:each="agat2Address : ${agat2Search.agat2Address}" class="td" th:utext="${agat2Address?.apartment}"/>-->
            </tr>

        <!--<td th:each="agat2Document : ${agat2Search.agat2Document}">-->
        <!--<span th:text="${agat2Document?.doc_type}" />-->
        <!--</td>-->
        <!--<td class="td" th:utext="${agat2Search.agat2Document[0].id}"/>-->


    </div>


</table>
</body>
</html>