<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<form action="/logout" method="post" th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
    <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
</form>
<div>
    <form method="post" th:action="@{/main}" enctype="multipart/form-data">
        <input type="text" name="text" placeholder="Введите сообщение"/>
        <input type="text" name="tag" placeholder="тэг"/>
        <input type="file" name="file"/>
        <input type='hidden' value='${_csrf.token}' name='${_csrf.parameterName}'/>
        <button type="submit">Добавить</button>
    </form>
</div>
<div> Список сообщений</div>
<!--<form method="post" action="filter">-->
<!--<input type="text" name="filter" placeholder="">-->
<!--<button type="submit">Найти</button>-->
<!--</form>-->
<table>
<tr th:each="message : ${messages}">
    <td class="td1" th:utext="${message.id}"/>
    <td class="td1" th:utext="${message.text}"/>
    <td class="td" th:utext="${message.tag}"/>
    <td class="td" th:utext="${message.authorName}"/>

    <td  th:if="${message.filename}">
        <img th:src="@{|/img/${message.filename}|}" >
    </td>

</tr>
</table>


</body>
</html>