<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <a href="/main3">Назад</a>
    </div>
    List of Users
    <table>


        <tr>
            <th>Name</th>
            <th>Role</th>
            <th></th>
        </tr>


            <tr th:each="user : ${users}">
                <td th:utext="${user.username}"/>
                <td th:each="role : ${user.roles}">
                    <span th:text="${role}"/>
                </td>
                <td><a th:href="@{|/user/${user.id}|}">edit</a></td>
            </tr>

    </table>
</body>
</html>